.description-wrapper,
.item,
.items,
form {display: flex;}

.description-wrapper,
#send-to-moderation-btn{margin-left: 7.6vw;}

#send-to-moderation-btn{
    width: 15vw;
}

h3{
    text-align: center;
    margin-bottom: 15vh;
}
form{
    height: 94vh;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2em;
    margin-top: 12vh;
}

input{
    background: #fff;
    border: 1px solid #212529;
    border-radius: 5px;
    min-width: 20vw;
    text-align: left;
    display: block;
    padding: 1vh 1vw;
}
.info-input{
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.description{
    border: 1px solid #212529;
    border-radius: 5px;
    display: block;
}

.items{
    justify-content: space-around;
}

.item{
    flex-direction: column;
}

#file-upload{
    border: 0;
    padding: 1vh 0;
    margin-top: 0;
}

textarea{
    display: block;
    border: 1px solid #212529;
    padding: 1vh 1vw;
}
span{
    display: block;
    margin-bottom: 1vh;
}
.delimeter{
    min-height: 3vh;
}
.main-title{
    padding: 15vh 0 8vh 14.7vw;
    margin-bottom: 5vh;
    background-color: #0DADFF;
    opacity: 0.8;
    color: #fff;
}
