.event-image{
    width: 150px;
    height: 150px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 5px solid #fff;
    border-radius: 15px;
    margin-right: 5vw;
}
.main-content{
    display: flex;
    min-height: 93vh;
    padding-bottom: 8vh;
    justify-content: flex-start;
    align-items: center;
}

.event-main-info{
    word-break: break-all;
    hyphens: auto;
    max-width: 50vw;
}
.event-main-info p{
    color: white;
}
p.organizers.lead{
    margin-bottom: 5vh;
}
.event-main-info a{
    padding: 1rem 1rem;
    background-color: #fff;
    color: #212529;
    border: 1px solid #fff;
    border-radius: 50px;
    text-decoration: none;
}
.wrapper{
    background-color: rgba(13, 130, 255, 0.68);
    min-height: 94.6vh;
}

.description{
    min-height: 100vh;
    background: white;
    color: #212529;
    letter-spacing: 1px;
    line-height: 4.5vh;
    padding: 10vh 8vw 0 8vw;
}
.description-title{
    margin-bottom: 2vh;
}
