.site-footer
{
    background-color:rgba(13, 130, 255, 0.68);
    padding: 10vh 14.5vw;
    font-size:15px;
    line-height:24px;
    color:#fff;
    margin-top: 32vh;
}
.site-footer hr
{
    border-top-color:#fff;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color:#212529;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    text-decoration: none;
    color:#fff;
}
.site-footer a:hover
{
    color:#212529;
    text-decoration:none;
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#fff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#212529;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
