
.main-title{
    padding: 15vh 0 8vh 14.7vw;
    margin-bottom: 5vh;
    background-color: #0DADFF;
    opacity: 0.8;
    color: #fff;
}

.event-item{
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-bottom: 3vh;
    border-bottom: 1px solid #BCBDBF;
    justify-content: space-between;
}
.event-item-block-1{
    display: flex;
    align-items: center;
}
.event-item img{
    min-width: 150px;
}
.event-briefly-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    align-content: flex-start;
    padding-left: 3vw;
}

.event-date,
.event-time,
.event-type{
    margin-bottom: 0;
}
.event-location{
    margin-bottom: 2rem;
}
.event-title{
    text-decoration: none;
    color: #0DADFF;
}
.event-title:hover{
    color: rgba(10, 88, 202, 0.71);
}

.grow-btn{color: #BFBFBF;}
.active{color: #cc0000;background: #fff;}
#add2FavouritesBtn{
    background: #fff;
    font-size: 2em;
    align-self: flex-start;
    margin-top: 5vh;
}

.radio-inputs label{

    display: flex;
    align-items: center;
}
