.processing-event-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-bottom: 3vh;
    border-bottom: 1px solid #BCBDBF;
}
.processing-event-item img{
    min-width: 150px;
}

.event-item-block{
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
}
.event-item-block button:first-child{
    margin-right: 1vw;
}