
body {
    color: #999;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}
.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
    border-radius: 0;
}
.signup-form {
    width: 25vw;
    margin: 16vh auto;
    padding: 0;
}
.signup-form h2 {
    color: #212529;
    margin: 0 0 15px;
    text-align: center;
}
.signup-form .lead {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
}
.signup-form form {
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form label {
    font-weight: normal;
    font-size: 13px;
}
.signup-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
}
.signup-form .input-group-addon {
    max-width: 42px;
    min-width: 2vw;
    text-align: center;
    background: none;
    border-bottom: 1px solid #e1e1e1;
    padding-left: 5px;
}
.signup-form .btn, .signup-form .btn:active {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 3px;
    min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.signup-form a {
    color: #007bff;
    text-decoration: none;
}
.signup-form a:hover {
    text-decoration: underline;
}
.signup-form .fa {
    font-size: 21px;
    position: relative;
    top: 8px;
}
.signup-form .fa-paper-plane {
    font-size: 17px;
}
.signup-form .fa-check {
    color: #fff;
    left: 4.3%;
    top: 46.9%;
    font-size: 7px;
    position: absolute;
}