
.signIn-form {
    width: 340px;
    margin: 25vh auto;
    font-size: 15px;
}
.signIn-form form {
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.signIn-form h2 {
    color: #212529;
    margin: 0 0 15px;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;

}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}
a.float-right{
    padding-bottom: 1vh;;
}


